body {
    font-family: arial, serif, sans-serif;
    margin: auto;
    max-width: 900px;
}
header {
    display: flex;
}
h1 {
    font-size: 250%;
    padding: 15% 0 0 7%;
    font-weight: lighter;
}
h2 {
    padding-left: 7%;
    letter-spacing: 0.5px;
}
.jaune {
    color:#FFC107 ;
}
.zoneprincipale {
    display:flex;
    width: 65%;
    float: right;
    
}
.zonegauche{
    
    display:flex;
    width: 30%;
    flex-direction: column;
    background-color:#FFC107 ;   
    
    word-wrap: break-word;
}
#blocpage {
    margin: 1em;
}
.mise_en_page {
    display: flex;
    padding-bottom: 1%;
}

.annee {
    padding: 0 15% 0 0;
}

.date {
    display: flex;
    width: 30%;
}

.date > p {
    padding: 20% 10% 0 100%;;
}

.puce {
    padding: 105% 7% 0 0;
}

.etablissement {
    width: 70%;
}


h4 
{
color:#FFC107 ;
text-align: center;
background-color:#263238;
}

img
{ 
margin: auto;
border-radius: 50%;
width: 100px;
height: 100px ;
      }
#blocimage {
    margin-left: auto;
    margin-right: auto;
  
}
.line {
    
}
#blocdroite {
   
}
.underline 
{
    text-decoration-line: underline ;
    text-decoration-color: #FFC107;
}
#informations > p {
    padding: 8% 15% 8% 15%;
}
.formation  {
    display: flex;
}
#photo {
    width: 30%;
    background-color:#FFC107 ;
}
#titre {
    width: 65%;
    line-height: 110%;
}